<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">

<head>
    <title>Node Express Example</title>
    <meta charset="utf-8">
    <meta content="origin" name="referrer">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Feedback</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>

<body>
    <!--Make the form to add a submit action-->
    <div class="container">
        <form id="loginForm" action="/login" method="post">
            <h1 class="text-center">LOG IN PAGE</h1>
            <div>
                <label for="username">Username</label>
                <input type="text" autocomplete="off" id="username" placeholder="Username" required>
            </div>
            <div>
                <label for="username">Password</label>
                <input type="password" autocomplete="off" id="password" placeholder="Password" required>
            </div>
            <input type="submit" id="loginbutton" value="Log In" action="/home">
        </form>
        <a href="/register">Register</a>
    </div>
    <script src="loginenv.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>
</html>