<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0008C1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white;">The Robotics Hut</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex flex-lg-row-reverse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/contact">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/contact">Blogs and Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/FAQs">FAQs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="card mb-3 center-h" style="width: 70%; border:none;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Welcome to the Robotics Hut</h2>
                    <p class="card-text fw-light">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio beatae
                        necessitatibus libero, dolor dignissimos sapiente nam, et mollitia nisi eveniet aut tenetur
                        perspiciatis expedita possimus ea numquam eligendi distinctio dicta.
                        Reprehenderit illo soluta nemo cupiditate numquam officiis similique, asperiores sunt voluptas
                        dicta eveniet incidunt error saepe iure minima distinctio praesentium repellendus facere
                        perspiciatis aliquam dolore. At facilis iusto reprehenderit ipsa?
                        Labore eos nesciunt, nulla, harum modi dolorum repellat sunt aut exercitationem ratione
                        inventore explicabo cupiditate? Inventore hic facilis sequi sunt sit deserunt illum, saepe,
                        commodi quibusdam delectus quod fugit unde!
                        Iste ea tenetur accusamus voluptatibus odio error nostrum maiores quia reiciendis eveniet
                        laboriosam unde aspernatur iusto eos autem, nobis saepe, mollitia possimus. Blanditiis aliquid
                        perferendis non ea nobis facilis placeat?
                        Sit exercitationem culpa obcaecati architecto suscipit voluptates distinctio illo eveniet
                        delectus, magnam odio doloribus soluta quod! Porro at, nobis, asperiores accusamus dolore
                    </p>

                    <br><br>

                    <a href="https://www.youtube.com/watch?v=6feEE716UEk" class="btn btn-dark btn-lg"
                       role="button">Watch Video</a>

                    <!-- <p class="card-text"><small class="text-muted">26/01/2022</small></p> -->
                </div>
            </div>
            <div class="col-md-4">
                <!-- style="max-height: 70%; -->
                <img src="student-images/wall-e_hi.jpg" class="img-fluid rounded-3" alt="...">
            </div>
        </div>
    </div>


    <div class=" blogs">
        <h2>&nbsp;&nbsp;Explore</h2>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="student-images/MicrosoftTeams-image-(7).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
                            corporis
                            quidem consequuntur, libero laudantium minima earum architecto quisquam. Non illum
                            unde at
                            debitis optio eum omnis dignissimos dolorem fuga. Perferendis?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="student-images/MicrosoftTeams-image-(8).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Laboriosam
                            quaerat dolorem sunt sed cumque consectetur optio, odit voluptatem omnis eum laborum
                            consequuntur suscipit perspiciatis tempore quia, aliquid, autem debitis accusantium.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="student-images/MicrosoftTeams-image-(9).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                            voluptatem
                            aut consequatur est assumenda quibusdam pariatur error sit esse explicabo numquam,
                            voluptas
                            quas molestiae cum neque officia eos id distinctio?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="MicrosoftTeams-image-(3).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                            voluptatum nemo, a doloremque consequuntur voluptate, laboriosam deserunt ipsa
                            ducimus
                            tempore eveniet optio, ea necessitatibus. Voluptates cum aspernatur fugiat nisi
                            molestiae.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br><br>
    <footer class="footer mt-auto py-3 bg-light text-center">
        <div class="container">
            <span class="text-muted">Copyright &copy; Robotics Hut</span>
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>
</body>

</html>